body {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 240, 235);
    align-content: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.headerImg {
    max-width: 100%;
}
header {
    background-image: url('images/sunset.png');
    background-size: cover;
    width: 100%;
    margin: 0;
    padding-bottom: 7%;
    display: flex;
    flex-direction: column;
}
header h1 {
    margin-top: 7%;
    color: white;
    text-align: center;
}
header p {
    text-align: center;
    color: white;
    margin-top: 4%;
    font-weight: 800;
}
.mainContent {
    margin: 0 20% 5% 20%;
    display: flex;
    flex-direction: column;
    color: rgb(35, 25, 20);
}
