body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgb(241, 159, 53, 1), rgba(241, 159, 53, 0));
    align-content: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.headerImg {
    max-width: 100%;
}
header {
    background-image: url('images/sunset.png');
    background-size: cover;
    width: 100%;
    margin: 0;
    padding-bottom: 7%;
    display: flex;
    flex-direction: column;
}
header h1 {
    margin-top: 7%;
    color: white;
    text-align: center;
}
header p {
    text-align: center;
    color: white;
    margin-top: 4%;
    font-weight: 800;
}
.mainContent {
    margin: 0 10% 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(35, 25, 20);
}




nav { 
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

}

.entryForm {
    display: flex; 
    flex-direction: column;
}

.entryForm input {
    width: min-content;
}

.entryForm button {
    width: min-content;
}

.pageContent { 
    display: flex; 
    flex-direction: content;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

a {
    text-decoration: none;
}

footer { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

footer h2 { 
    flex-basis: 90%;
    justify-self: center;
    justify-content: center;
}
